* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ul li {
	list-style: none;
}

h1 {
  font-size: 32px;
  margin: 5px;
}

button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 128, 128, .5);
  padding: 5px 10px;
}
.active, button:active {
  background-color: rgb(0, 128, 128);
  color: rgb(255, 255, 255);
}

.container {
  margin: 0 auto;
  padding: 15px 25px;
  max-width: 800px;
  border: 2px solid rgb(0, 128, 128);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addText {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

#addTodoItem, .todo-list_reset-text {
  min-width: 400px;
  border: 1px solid rgba(0, 128, 128, .5);
}
#addTodoItem:active, .todo-list_reset-text:active{
  border: 3px solid rgba(0, 128, 128, 1);
}

#containerTodo {
  width: calc(100% - 50px);
}

.todo-list_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
  border: 2px solid rgb(0, 128, 128);
  margin: 10px 0;
}

.todo-list_text {
  word-break: break-all;
}

.todo-list_reset-text {
  height: 30px;
}

.todo-list-button {
  padding: 5px 10px;
  border: none;
  background-color: red;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 900;
}
.todo-list-button:active {
  background-color: rgb(195, 0, 0);
}


#changeList{
  margin: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#checkAll {
  display: flex;
  align-items: center;
  gap: 10px;
}

#filter {
  margin: 10px 0;
}

#pagination {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#showMoreContainer {
  text-align: center;
  width: 100%;
  margin: 20px auto 10px auto;
}